@use '@styles/variables/variables' as *;
@use '@styles/variables/colors' as *;
@use '@styles/variables/radius' as *;

.button {
  border-radius: $radius-md;
  cursor: pointer;
  color: $brand-text;
  background-color: $brand;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3125rem;
  &:hover {
    background-color: $brand-hover;
  }
  &:active {
    background-color: $brand-active;
  }

  &:disabled {
    background-color: $disabled-bg;
    color: $disabled-text;
    cursor: not-allowed;
  }

  &.primary {
    background-color: $primary;
    color: $primary-text;
    &:hover {
      background-color: $primary-hover;
    }
    &:active {
      background-color: $primary-active;
    }
  }
  &.secondary {
    background-color: $secondary;
    color: $secondary-text;
    &:hover {
      background-color: $secondary-hover;
    }
    &:active {
      background-color: $secondary-active;
    }
  }
  &.tertiary {
    background-color: $tertiary;
    color: $tertiary-text;

    &:hover {
      background-color: $tertiary-hover;
    }
    &:active {
      background-color: $tertiary-active;
    }
  }
  &.sm {
    padding: min(0.1875rem, 0.3vw) min(0.6563rem, 1.8vw);
  }
  &.md {
    padding: min(0.375rem, 2.5vw) min(0.75rem, 1vw);
  }
  &.lg {
    padding: min(0.5625rem, 0.8vw) min(1rem, 1.2vw);
  }
  &.xl {
    padding: 0.625rem 1.25rem;
  }
}
