@use '@styles/variables/variables' as *;
@use '@styles/variables/colors' as *;
@use '@styles/variables/radius' as *;

.button {
  border-radius: $radius-md;
  cursor: pointer;
  color: $brand-text;
  background: $brand;
  transition: 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3125rem;
  &:hover {
    background: $brand-hover;
    transition: 0.2s ease-in-out;
  }
  &:active {
    background: $brand-active;
    transition: 0.2s ease-in-out;
  }

  &:disabled {
    background: $disabled-bg;
    color: $disabled-text;
    cursor: not-allowed;
  }

  &.primary {
    background: $primary;
    color: $primary-text;
    &:hover {
      background: $primary-hover;
    }
    &:active {
      background: $primary-active;
    }
  }
  &.secondary {
    background: $secondary;
    color: $secondary-text;
    &:hover {
      background: $secondary-hover;
    }
    &:active {
      background: $secondary-active;
    }
  }
  &.tertiary {
    background: $tertiary;
    color: $tertiary-text;

    &:hover {
      background: $tertiary-hover;
    }
    &:active {
      background: $tertiary-active;
    }
  }
  &.sm {
    padding: min(3px, 0.3vw) min(10.5px, 1.8vw);
  }
  &.md {
    padding: min(6px, 2.5vw) min(12px, 1vw);
  }
  &.lg {
    padding: min(9px, 0.8vw) min(16px, 1.2vw);
  }
  &.xl {
    padding: 10px 20px;
  }
}
