{
  "semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "es5",
  "bracketSameLine": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^./($|/.*)$",
    "^@app($|/.*)$",
    "^@processes($|/.*)$",
    "^@pages($|/.*)$",
    "^@widgets($|/.*)$",
    "^@features($|/.*)$",
    "^@entities($|/.*)$",
    "^@shared($|/.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
