@use '@styles/variables/variables' as *;
@use '@styles/variables/colors' as *;
@use '@styles/variables/radius' as *;

.post-editor {
  position: relative;
  transition: 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  &-wrapper {
    border: 0.0625rem solid $input-border;
    background: white;
    border-radius: $radius-md;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    transition: border-color 0.3s;
  }
  &-field {
    caret-color: $brand;
    outline: none;
    &.ProseMirror-focused:focus-visible,
    &.ProseMirror-focused:focus {
      border-color: $brand;
    }
  }
  &:has(span.error-text) &-wrapper {
    border-color: $error;
  }
  &:has(.ProseMirror-focused) &-wrapper {
    border-color: $focus;
  }
  & span.error-text {
    display: block;
    color: $error;
    margin-top: 0.25rem;
  }

  p {
    margin: 0 0 6px 0;
  }
}
