@use '@styles/variables/radius' as *;
@use '@styles/variables/colors' as *;
@use '@styles/mixins/mixins' as *;
.comment {
  display: flex;
  gap: 0.3125rem;
  flex-direction: column;

  &-info {
    display: flex;
    gap: 0.3125rem;
    align-items: center;
    text-wrap: pretty;
  }
  &-avatar {
    border-radius: $radius-md;
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    object-position: center;
  }
  &-content {
    display: flex;
    flex-direction: column;
  }
  &-like {
    display: flex;
    align-items: center;
    gap: 0.3125rem;
  }
  &-like.active &-like-icon path {
    fill: $brand-active;
  }
  &-like-icon {
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
    transition: 0.3s;
    &:hover path {
      fill: $brand-hover;
      transition: 0.3s;
    }
  }
}
