@use "@shared/styles/abstracts/variables" as *;
.input {
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  overflow: hidden;

  & .input-label {
    margin-bottom: 4px;
    & span {
      color: rgb(0, 84, 122);
    }
  }
  & .input-icon {
    display: flex;
    width: 32px;
    height: 32px;
  }

  & .input-field {
    width: 100%;
    height: 100%;
    transition: 0.3s;
    border: 1px solid transparent;
    background: transparent;
  }

  &.input-lined .input-wrapper {
    border: none;
    border-bottom: 1px solid rgb(17 17 19 / 60%);
    border-radius: 0 !important;
  }

  &.input-lined .input-focus {
    border: none !important;
    border-bottom: 1px solid rgba(0, 0, 124, 0.651) !important;
  }

  & .input-wrapper {
    transition: 0.3s ease-in-out;
    border: 1px solid rgb(17 17 19 / 60%);
    display: flex;
    padding: 16px;
    gap: 10px;
    align-items: center;
    overflow: hidden;
    &:hover {
      background: #f2f2f2;
      transition: 0.3s;
    }
  }
  &.input-xs .input-wrapper {
    padding: 4px;
    border-radius: $radius-sm;
  }
  &.input-xs .input-label {
    font-size: 12px;
  }
  &.input-sm .input-wrapper {
    padding: 8px;
    border-radius: $radius-sm;
  }
  &.input-sm .input-label {
    font-size: 16px;
  }
  &.input-md .input-wrapper {
    padding: 12px;
    border-radius: $radius-md;
  }
  &.input-md .input-label {
    font-size: 18px;
  }
  &.input-lg .input-label {
    font-size: 20px;
  }
  &.input-lg .input-wrapper {
    padding: 16px;
    border-radius: $radius-lg;
  }

  & .input-focus {
    border: 1px solid rgba(0, 0, 124, 0.651) !important;
    transition: 0.3s ease-out;
  }
  &.error .input-field {
    border: 1px solid #ff0000 !important;
    transition: 0.3s ease-out;
  }
}
