.input {
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  transition: 0.3s;
}
.input label {
  margin-bottom: 4px;
}
.input .input-field {
  width: 100%;
}
.input .input-field.field-sm {
  padding: 8px;
}
.input .input-field.field-md {
  padding: 12px;
}
.input .input-field.field-lg {
  padding: 16px;
}
.input .input-wrapper {
  transition: 0.3s;
  border: 1px solid rgba(17, 17, 19, 0.6);
}
.input .input-focus {
  transition: 0.3s;
  border: 3px solid rgba(17, 17, 19, 0.2) !important;
}
.input .input-focus .input-field {
  transition: 0.3s;
  border: 1px solid rgba(17, 17, 19, 0.6);
}