@use '@styles/variables/colors' as *;
@use '@styles/variables/radius' as *;

.login {
  &-wrapper {
    max-width: 54.25rem;
    width: 100%;
    margin: 0 auto;
    border: 0.125rem $brand solid;
    border-radius: $radius-lg;
    padding: 2.75rem;
  }

  &-back-button {
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: transparent !important;
    color: $brand !important;
    transition: color 0.2s ease;
    &:hover {
      color: $brand-hover !important;
    }
  }
}
