@use "@styles/variables/variables" as *;
@use "./normalize";
@use "@styles/variables/colors" as *;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: $main-font;
  display: flex;
  flex-direction: column;
  background: $body;
}

button {
  border: none;
}

input {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}
