@use "@a1rth/css-normalize";
@use "../abstracts/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: $main-font;
  display: flex;
  flex-direction: column;
}
button {
  border: none;
}

input {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}
input[type="checkbox"] {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
