.text-xs {
  font-size: 12px;
}
.text-sm {
  font-size: 14px;
}
.text-md {
  font-size: 16px;
}
.text-lg {
  font-size: 18px;
}
.text-xl {
  font-size: 20px;
}
.text-2xl {
  font-size: 24px;
}
.display-2xl {
  font-size: 72px;
}
.display-xl {
  font-size: 60px;
}
.display-lg {
  font-size: 48px;
}
.display-md {
  font-size: 48px;
}
.display-sm {
  font-size: 30px;
}
.display-xs {
  font-size: 24px;
}
.font-regular {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
