@use '@styles/variables/colors' as *;

.text-sm {
  font-size: clamp(12px, 1.5vw, 12px);
}
.text-md {
  font-size: clamp(14px, 1.5vw, 16px);
}
.text-lg {
  font-size: clamp(14px, 1.5vw, 20px);
}
.text-xl {
  font-size: 1.5rem;
}
.title-2xl,
h1 {
  font-size: clamp(2.25rem, 5vw, 4rem);
}
.title-xl,
h2 {
  font-size: clamp(2rem, 5vw, 3.5rem);
}
.title-lg,
h3 {
  font-size: clamp(1.5rem, 5vw, 3rem);
}
.title-md,
h4 {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
}
.title-sm,
h5 {
  font-size: clamp(1rem, 5vw, 2rem);
}
.title-xs,
h6 {
  font-size: clamp(1rem, 5vw, 1.5rem);
}
.font-regular {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}

.error-text {
  color: $error;
  font-size: clamp(0.75rem, 1.5vw, 1rem);
}
