@use '@styles/variables/variables' as *;
@use '@styles/variables/colors' as *;
@use '@styles/variables/radius' as *;

.input {
  display: flex;
  transition: 0.2s ease-in-out;
  overflow: hidden;
  width: 100%;
  flex-direction: column;

  &-wrapper {
    position: relative;
  }

  &-label {
    margin-bottom: 0.25rem;
    & span {
      color: $label-color;
    }
  }
  &-icon,
  &-password-icon,
  &-email-icon {
    display: flex;
    width: clamp(1.5rem, 3vw, 2rem);
    height: clamp(1.5rem, 3vw, 2rem);
    position: absolute;
    right: 0.8125rem;
    top: 50%;
    transform: translateY(-50%);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &-password-icon {
    cursor: pointer;
  }
  &-email-icon {
    left: 0.8125rem;
  }
  &-icon-left &-icon {
    left: 0.8125rem;
  }
  &-xs.input-icon-left &-icon,
  &-xs &-email-icon {
    left: 0.25rem;
  }
  &-sm.input-icon-left &-icon,
  &-sm &-email-icon {
    left: 0.5rem;
  }
  &-xs.input-icon-right &-icon,
  &-xs &-password-icon {
    right: 0.25rem;
  }
  &-sm.input-icon-right &-icon,
  &-sm &-password-icon {
    right: 0.5rem;
  }
  &-md.input-icon-right &-icon,
  &-md &-password-icon {
    right: 0.75rem;
  }
  &-lg.input-icon-right &-icon,
  &-lg &-password-icon {
    right: 1rem;
  }
  &-xs.input-icon-right &-field,
  &-xs.input-password &-field {
    padding-right: 1.5rem;
  }
  &-sm.input-icon-right &-field,
  &-sm.input-password &-field {
    padding-right: 2.25rem;
  }
  &-md.input-icon-right &-field,
  &-md.input-password &-field {
    padding-right: 3.25rem;
  }
  &-lg.input-icon-right &-field,
  &-lg.input-password &-field {
    padding-right: 3.4375rem;
  }
  &-xs.input-icon-left &-field,
  &-xs.input-email &-field {
    padding-left: 1.5625rem;
  }
  &-sm.input-icon-left &-field,
  &-sm.input-email &-field {
    padding-left: 2.1875rem;
  }
  &-md.input-icon-left &-field,
  &-md.input-email &-field {
    padding-left: 3.125rem;
  }
  &-lg.input-icon-left &-field,
  &-lg.input-email &-field {
    padding-left: 3.4375rem;
  }
  &-icon-left &-field {
    padding-left: 3.125rem;
  }
  &-xs &-field {
    padding: 0.25rem;
    border-radius: $radius-sm;
  }
  &-xs &-icon,
  &-xs &-password-icon,
  &-xs &-email-icon {
    width: clamp(1rem, 3vw, 1.5rem);
    height: clamp(1rem, 3vw, 1.5rem);
  }

  &-xs &-label {
    font-size: 0.75rem;
  }
  &-sm &-field {
    padding: 0.5rem;
    border-radius: $radius-sm;
  }
  &-sm &-icon,
  &-sm &-password-icon,
  &-sm &-email-icon {
    width: clamp(1.5rem, 3vw, 2rem);
    height: clamp(1.5rem, 3vw, 2rem);
  }
  &-sm &-label {
    font-size: 1rem;
  }
  &-md &-field {
    padding: min(0.75rem, 2.5vw);
    border-radius: $radius-md;
  }
  &-md &-icon,
  &-md &-password-icon,
  &-md &-email-icon {
    width: clamp(1.5rem, 3vw, 2rem);
    height: clamp(1.5rem, 3vw, 2rem);
  }
  &-md &-label {
    font-size: 1.125rem;
  }
  &-lg &-label {
    font-size: 1.25rem;
  }
  &-lg &-field {
    padding: 1rem;
    border-radius: $radius-lg;
  }

  &-field {
    transition: 0.2s ease-in-out;
    border: 0.0625rem solid $input-border;
    overflow: hidden;
    width: 100%;
    caret-color: $brand;

    &:not(:placeholder-shown) {
      border: 0.0625rem solid $filled;
    }
    &:hover {
      border: 0.0625rem solid $input-hover;
      transition: 0.2s ease-in-out;
    }
    form & {
      &[type='email'],
      & {
        &:user-valid:not(:placeholder-shown, :focus, :hover),
        &:valid:not(:placeholder-shown, :focus, :hover) {
          border: 0.0625rem solid $success;
        }
      }
      &:invalid:not(:placeholder-shown, :focus, :hover),
      &:user-invalid:not(:placeholder-shown, :focus, :hover) {
        border: 0.0625rem solid $error;
      }
    }
    &:focus {
      border: 0.0625rem solid $focus;
      transition: 0.3s ease-out;
    }
    &::placeholder {
      color: $input-hover;
    }

    &[readonly] {
      background-color: $input-readonly-bg;
      border-color: $input-readonly-border;
      color: $input-readonly-text;
      &::placeholder {
        color: $input-readonly-text;
      }
      cursor: default;
    }
    &:disabled {
      background: $disabled-bg;
      color: $disabled-text;
      border: 0.0625rem solid $disabled-checkbox;
      cursor: not-allowed;
    }

    &.input-lined {
      border: none;
      border-bottom: 0.0625rem solid $input-border;
      border-radius: 0;
      &:not(:placeholder-shown) {
        border: none;
        border-bottom: 0.0625rem solid $filled;
      }
      &:hover {
        border-bottom: 0.0625rem solid $input-hover;
      }
      form & {
        &[type='email'],
        & {
          &:valid:not(:placeholder-shown, :focus, :hover) {
            border: none;
            border-bottom: 0.0625rem solid $success;
          }
        }
        &:invalid:not(:placeholder-shown, :focus, :hover),
        &:user-invalid:not(:hover) {
          border-bottom: 0.0625rem solid $error;
        }
      }
      &:focus {
        border-bottom: 0.0625rem solid $focus;
      }
      &[readonly] {
        background-color: $input-readonly-bg;
        border-color: $input-readonly-border;
        color: $input-readonly-text;
        cursor: default;
      }
      &:disabled {
        border-bottom: 0.0625rem solid $disabled-checkbox;
      }
    }
  }

  &-error {
    color: $error;
  }
}
