@use '@styles/variables/colors' as *;

.pagination {
  display: flex;
  justify-content: center;
  gap: min(0.625rem, 1.5vw);
  background: $body;

  padding: min(0.625rem, 1.5vw) 0;
  &-item {
    width: 100%;
    max-width: 100%;
    &.active {
      background-color: #007bff;
      color: #fff;
    }
    &.ellipsis {
      pointer-events: none;
    }
  }
}
.pagination.base {
  position: sticky;
  bottom: 0.3125rem;
}
