@use '@styles/variables/colors' as *;

.pagination {
  display: flex;
  justify-content: center;
  gap: min(0.625rem, 1.5vw);
  background: $body;
  position: sticky;
  padding: min(0.625rem, 1.5vw) 0;
  bottom: 0;
  &-item {
    &-active {
      background-color: #007bff;
      color: #fff;
    }
  }
}
