@use '@styles/variables/colors' as *;

.post {
  display: flex;
  flex-direction: column;
  gap: clamp(1.75rem, 3vw, 3rem);
  &-header {
    display: flex;
    justify-content: space-between;
  }
  &-delete-button {
    background-color: $error;
    transition: background-color 0.3s;
    &:hover {
      background-color: $error-hover;
    }
    svg {
      width: clamp(1.3rem, 1vw, 2.5rem);
      height: clamp(1.3rem, 1vw, 2.5rem);
      stroke: white;
      path {
        stroke: white;
        fill: white;
      }
    }
  }
}
