.header {
  padding: min(1.25rem, 1.5vw) 0;
  display: flex;
  &-wrapper {
    display: flex;
    gap: 1.25rem;
    justify-content: space-between;
  }

  &-main {
    display: flex;
    align-items: center;
    gap: min(1.25rem, 2vw);
  }
  &-home {
    font-size: clamp(0.875rem, 1.5vw, 1rem);
  }
  &-logo {
    width: clamp(1.75rem, 5vw, 2.5rem);
    height: clamp(1.75rem, 5vw, 2.5rem);
  }
  &-nav {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }
  &-nav-item {
    font-size: clamp(0.875rem, 1.5vw, 1rem);
  }
  &-user {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  &-user-icon {
    width: clamp(1.75rem, 5vw, 2.5rem);
    height: clamp(1.75rem, 5vw, 2.5rem);
  }
}
