@use '@styles/variables/radius' as *;
@use '@styles/variables/colors' as *;

.post-card {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  border: $border-dark 1px solid;
  border-radius: $radius-md;
  overflow: hidden;
  &:hover &-description {
    max-height: 100%;
  }

  &-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
    padding: min(0.625rem, 1.5vw);
    margin-top: auto;
  }

  &-description {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.3s;
    overflow: hidden;
    margin: 0;

    &-text {
      min-height: 0;
      opacity: 0;
      transition: opacity 0.3s;
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      margin: 0;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-wrap: balance;
    }
  }
  &:hover &-description {
    grid-template-rows: 1fr;
    margin-top: 0.325rem;
    margin-bottom: 0.325rem;

    &-text {
      opacity: 1;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.625rem;
  }
  &-stats {
    display: flex;
    gap: 0.625rem;
  }
  &-date {
    font-size: clamp(0.75rem, 1.5vw, 0.675rem);
  }
  &-views {
    font-size: clamp(0.75rem, 1.5vw, 0.875rem);
  }
  &-likes {
    font-size: clamp(0.75rem, 1.5vw, 0.875rem);
  }
}
