@use '@styles/variables/radius' as *;
@use '@styles/variables/colors' as *;

.post-card {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  border: $border-dark 1px solid;
  border-radius: $radius-md;
  overflow: hidden;
  position: relative;
  height: 400px;
  cursor: pointer;

  p {
    transition: all 0.3s;
  }

  &:hover:not(.skeleton) {
    .post-card {
      &-body {
        background-color: $primary;

        p {
          color: white;
        }
      }
      &-description {
        height: 70px;

        &-text {
          opacity: 1;
          transition: all 0.3s;
          transition-delay: 0.3s;
        }
      }
    }
  }

  &-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-header {
    height: 300px;
  }

  &-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
    padding: min(0.625rem, 1.5vw);
    margin-top: auto;
    background-color: white;
    transition: 0.3s all;

    //
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }

  &-description {
    transition: all 0.3s;
    overflow: hidden;

    &-text {
      opacity: 0;
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      margin: 0;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-wrap: balance;
      color: white;
    }
  }

  &:not(.skeleton) &-description {
    height: 0px;
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.625rem;
  }
  &-stats {
    display: flex;
    gap: 0.625rem;
  }
  &-date {
    font-size: clamp(0.75rem, 1.5vw, 0.675rem);
  }
  &-views {
    font-size: clamp(0.75rem, 1.5vw, 0.875rem);
  }
  &-likes {
    font-size: clamp(0.75rem, 1.5vw, 0.875rem);
  }
}
