.ui {
  display: flex;
  gap: 16px;
  flex-direction: column;
  padding: 16px;

  &-items {
    display: flex;
    gap: 16px;
    align-items: center;
    &.end {
      align-items: flex-end;
    }
  }
}
